# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Docker
.dockerignore

# ML models
models/*.joblib

# Static files
staticfiles/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Mac OS
.DS_Store

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# Jupyter Notebooks
.ipynb_checkpoints